<!DOCTYPE html>

<head>
    <title>EatDaBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-dark p-5">
        <a class="navbar-brand text-light text-h2" href="#">
            <img src="images/burger.png" width="30" height="30"
                class="d-inline-block align-top text-light " alt="">
            EatDaBurger
        </a>
    </nav>
    {{{ body }}}
</body>

</html>