<div class="container">
	<div class="row">
		<div class="col-lg-6 text-center" id="notEaten">
			<p class="h2">Currently availible</p>
			<div class="p-5 m-3 bg-secondary rounded">
				{{name}}

				<button class="Eat-Burger" data-id="{{this.id}}">Eat!!!</button>
			</div>
		</div>
		<div class="col-lg-6 text-center">
			<p class="h2">Eaten</p>

		</div>
	</div>
</div>